body {
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #2b2b2b;
}

section .effects {
  width: 500px;
  height: 500px;
  margin: 0;
  margin-left: 50px;
  margin-top: 25vh;
  padding-right: 40px;
  overflow: hidden;
}

section .effects .img {
  margin: 0;
  width: 500px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .effects .img img {
  width: 100%;
}

section .effects span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 25px;
  background-color: #fff;
  font-size: 25px;
  font-family: Nunito;
  font-weight: 600;
}

.ex1,
.ex2,
.ex3 {
  transition: 1s;
}

.ex1:hover {
  transform: rotate(360deg);
}

.ex2:hover {
  transform: scale(1.1);
}

.ex3 {
  transform: translateY(100%);
  opacity: 0;
}

section .effects .img:hover .ex3 {
  transform: translateY(0%);
  opacity: 1;
}
