body {
  margin: 0;
}

section {
  width: 100%;
  min-height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
}

/* On définit la base du lien */
section .shadow {
  position: absolute;
  border: none;
  border-radius: 50px;
  padding: 1% 2%;
  background-color: #02c262;
  text-decoration: none;
  color: #fff;
  font-family: Nunito;
  font-size: 25px;
  font-weight: 600;
}

/* Puis on définit la forme qu'il aura à la fin */
section .shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #02c262;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: -1; /* Permet de garder l'ombre derrière le lien*/
  animation: 1.5s shadow infinite;
}

/* On part du from pour arriver au to */
@keyframes shadow {
  /* forme initiale */
  from {
    transform: scale(1);
    opacity: 1;
  }
  /* forme au bout de 1.5s */
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
