body {
  margin: 0;
  padding: 0;
}
  #content{
    width: 100%;
    height: 100%;
    background-color: #f17007;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#content #box {
  width: 480px;
  height: 230px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#content #box #title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content #box #title h2 {
  font-family: monospace;
  font-size: 2em;
}

#content #box #inmdp {
  width: 55%;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#content #box #inmdp h4,
#content #box #length h4 {
  width: 100%;
  margin: 0;
  font-family: monospace;
  font-size: 1.5em;
}

#content #box #inmdp input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #2B2B2B;
  color: #fff;
  cursor: not-allowed;
  font-size: 1.2em;
  padding-left: 10px;
}

#content #box #length {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}

#content #box #length input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f17007;
  color: #fff;
  font-size: 1.5em;
  font-family: monospace;
  padding-left: 10px;
}

#content #box #btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

#content #box #btn input {
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #1976D2;
  color: #fff;
  font-family: monospace;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
}