* {
  margin: 0px;
  background-color: #2b2b2b;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Le css de l'input */
.content input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}

/* Le css de du bouton qui est d'abord caché derrière l'input */
.content button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #b9b9b9;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transform: translateX(-160px);
  z-index: 1;
  transition: 0.2s;
  cursor: pointer;
}

.content button:hover {
  transform: translateX(0);
}
