body {
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  font-family: "Quicksand";
}

/* Le bandeaux */
.container {
  width: 100%;
  height: 150px;
  background-color: cornflowerblue;
  overflow: hidden;
  display: flex;
}

/* L'emplacement de l'image */
.container .imgs {
  width: 170px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* L'image */
.container .imgs img {
  margin-left: 50px;
  width: 80%;
  height: 80%;
}

/* L'emplacement des liens et du bouton */
.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

/* L'emplacement des liens */
.container .content .sci {
  display: flex;
}

.container .content .sci li {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 3%;
  border-radius: 5px;
  transition: 0.2s;
}

/* Le lien actif */
.container .content .sci .active {
  background-color: #2b2b2b;
}

.container .content .sci li:hover {
  background-color: #1b1b1b;
}

.container .content .sci li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

.container .content .sci li a h2 {
  margin: 0;
}

/* emplacement du bouton */
.container .content .co {
  position: absolute;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

/* Le bouton */
.container .content .co a {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #02c262;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: 0.2s;
  outline: none;
}

.container .content .co a:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
}

.container .content .co a:active {
  transform: translateY(0);
  box-shadow: 0 0 #02c262;
}

.container .content .co a span {
  padding-left: 20px;
}
