body {
  margin: 0;
}

/* Le bouton */
.bounce {
  outline: none;
  width: 4rem;
  height: 4rem;
  background-color: cornflowerblue;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 85%;
  left: 50%;
  cursor: pointer;
  transition: 0.2s;
}

/* le bouton (quand on passe la souris dessus) */
.bounce:hover{
  transform: translateY(10px);
}

/* le bouton (quand on clique dessus) */
.bounce:active{
  background-color: green;
}

/* Première section */
#sec1 {
  width: 100%;
  background-color: #1b1b1b;
  min-height: 100vh;
}

/* Deuxième section */
#sec2 {
  width: 100%;
  background-color: #2b2b2b;
  min-height: 100vh;
}
